[dev-packages]
pytest = "~=7.1"
pytest-mock = "~=3.8"
pre-commit = "~=2.20"
boto3 = "~=1.24"

[packages]
pandas = "~=1.4"
fastparquet = "~=0.8"   # Needed by pandas to read parquet
jinja2 = "~=3.1"    # Needed by pandas to generate HTML
fsspec = "~=2022.8" # Needed by pandas to write directly to S3
s3fs = "~=2022.8"   # Needed by pandas to write directly to S3

[requires]
python_version = "3.9"
